@{
    Layout = "_Member";
}
<link href="~/css/YP/SkillPost.css" rel="stylesheet" />
<div id="app" class="col-12 member-data  d-grid  gap-3">
    <div class="row">
        <select class="w-auto form-select rounded-pill" aria-label="Default select example" v-model="skillPost.categoryId">
            <option v-for="item in categoryList" :value="item.categoryId">{{item.categoryName}}</option>
        </select>
    </div>
    <div class="row">
        <input id="sk-post-title" class="col-5 border-0 rounded-3 fs-4" type="text" v-model="skillPost.title" placeholder="標題">
    </div>
    <div class="row">
        <input id="sk-post-region" type="text" class="col-3 border-0 rounded-3 fs-4" v-model="skillPost.region" placeholder="地區">
    </div>
    <div class="row">
        <div class="hashtag-group btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <div class="w-auto" v-for="item in hashtagList">
                <input type="checkbox" class="btn-check" :id="`check-${item.hashtagId}`" :value="item.hashtagId" v-model="skillPost.hashtagId" autocomplete="off">
                <label class="btn btn-outline-secondary rounded-pill" :for="`check-${item.hashtagId}`">#{{item.hashtagName}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <textarea id="sk-post-content" class="border-0 rounded-3 fs-4" rows="6" v-model="skillPost.content" placeholder="文章內容"></textarea>
    </div>
    <div class="row d-flex justify-content-end">
        <button class="btn col-2 btn-secondary" v-on:click="addSkillPost">發布</button>
    </div>
</div>
<script>
    let app = new Vue({
        el:"#app",
        data:{
            categoryList:[],
            hashtagList:[],
            skillPost:{
                title:"",
                categoryId:"",
                region:"",
                content:"",
                hashtagId:[]
            }
        },
        mounted:function() {
            const self = this;
            axios.get("../Api/Category/GetAllCategory")
            .then(res => {
                self.categoryList = res.data;
                self.skillPost.categoryId = self.categoryList[0].categoryId;
            });

            axios.get("../Api/Category/GetAllHashtag")
            .then(res => self.hashtagList = res.data);
        },
        methods:{
            addSkillPost: function(){
                const self = this;
                axios.post("../Api/SkillPost/AddSkillPost",self.skillPost)
                .then(res => {
                    alert(res.data);
                    window.location.href="./AllSkillPostPage";
                })
                .catch(err => console.log(err.response.data));
            }
        }
    });
</script>