<link rel="stylesheet" href="~/css/HomePage.css" />

<div class="txt-img01">
    <div class="txt-img02">
        <div class="txt-img03">
            <div class="container">
                <div class="row">
                    <div class="txt col-3 ms-4">
                        
                        <h1 class="txt-context">「學習」能為人生增值，尋找夥伴一起 開始學習路程</h1>
                        <div class="txt-p2">TreeFriend集結了語言、程式、交友等各種技能交換的學習平台</div>
                        <div style="font-size: 18px; margin-bottom: 20px;">準備好要開始尋找了嗎?</div>
                        <a href="@Url.Action("AllSkillPostPage","Home")" class="txt-contexts">開始尋找適合你的夥伴</a>
                    </div>


                    <div class="img col-8 ms-5">
                        <img src="/img/封面.gif" class="pic" alt="800*617" style="width: 800px; height: 600px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*卡片介紹網站特性*@
<div class="containerss">
    <div class="cardss">
        <div class="imgBx1">
            <img src="/img/studying.png" alt="">
        </div>
        <div class="contentBx1">
            <h2>坎坷的學習路程?</h2>
            <p>在學習新技能的途中必定會遇到各種關卡，你也曾在學習的道路上很挫敗嗎？</p>
        </div>
    </div>
    <div class="cardss">
        <div class="imgBx1">
            <img src="/img/help.png" alt="">
        </div>
        <div class="contentBx1">
            <h2>互助學習的趨勢</h2>
            <p>與其獨自學習，不如尋找夥伴共享學習突破坎坷的道路。快來認識不同領域的夥伴！</p>
        </div>
    </div>
    <div class="cardss">
        <div class="imgBx1">
            <img src="/img/social-media.png" alt="">
        </div>
        <div class="contentBx1">
            <h2>分享動態圈</h2>
            <p>發布個人動態，與大家進行互動。動態圈是一個絕佳的提問和分享動態的場合，最讚的是這些都完全不收費。</p>
        </div>
    </div>
</div>




@*技能分享心得*@
<div class="containerplus-h2">
    <h1 class="m-0">用戶的好評回饋 我們的前進動力</h1>
</div>
<div class="containerplus">
    <div class="card">
        <div class="imgBx2">
            <img src="/img/Cartoon Avatars-01.png">
        </div>
        <div class="content">
            <h2 class="content-h2">Danial</h2>
            <p class="cardp">
                使用TreeFriend是透過朋友推薦的，上面有很多各式各樣的需求，例如:想學程式、找家教、交換技能等等。
                本來是抱著試試看的心態下載，發現平台簡單易操作，上面尋求技能交換的人都是很認真的心態
                ，比起FB社團常常碰到亂傳騷擾訊息的人，我在TreeFriend上從來沒遇過。
                目前已使用3-4個月從零開始的我，成功的考上多益880。
            </p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx2">
            <img src="/img/Cartoon Avatars-03.png">
        </div>
        <div class="content">
            <h2 class="content-h2">Agent</h2>
            <p class="cardp">
                我是日文系的背景，在去年12月決定想學寫程式，但身邊沒有認識的人是程式背景，也沒有錢去上課，
                就在網路上看到有人推薦TreeFriend，心想會不會是個詐騙網站，就抱著姑且一試的心態來發交換技能文，
                不到一天就許多優秀工程師表示願意，目前半年成功能獨立寫出一個小型電商網站，很感謝TreeFriend和非常棒的工程師們!
            </p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx2">
            <img src="/img/Cartoon Avatars-04.png">
        </div>
        <div class="content">
            <h2 class="content-h2">Slywia</h2>
            <p class="cardp">
                我自己有持續接觸和我的​專業領域延伸出與資料科學結合應用的 Tasks，當然實作上不可能百分之百都只用到書本中​學習的內容，
                但在TreeFriend上找到的優秀老師們給我的其實是培養找出解決問題方法的能力，在相關的論壇或​網頁找尋我要的答案時，
                看得懂其他大師在討論的內容和他們提出的解法，​這樣做中學的Hands-On體驗是很美妙的。
            </p>
        </div>
    </div>
</div>



@*系統推文*@
<div class="grid-h2"><h2 style="text-align: center; background-color: #efeeee; font-size: 45px;">精選專欄</h2></div>
<div class="grid-body-headr">
    <div class="grid" id="GetSystem">
        <div class="grid-item" v-for="item in MessageList">
            <a v-bind:href="'/Home/SystemDetail/?id=' +item.articleID">
                <div class="card-blog">
                    <img class="card-img" v-bind:src="item.picPath" alt="blog-picture">
                    <div class="card-content">
                        <h1 class="card-header">{{item.title}}</h1>
                        <p class="card-text">{{item.description}}</p>
                        <button class="card-btn">
                            閱讀更多
                        </button>

                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="link-frame">
        <a href="@Url.Action("Systemlist","Home")" class="link-frame-a">看更多文章<span>&rarr;</span></a>
    </div>
</div>

<script>
    let app = new Vue({
        el: '#GetSystem',
        data: {
            MessageList: [],
        },
        mounted: function () {
            var self = this;
            axios.get("SystemMessage/GetAllHomeSystemMessage").then(function (result) {
                self.MessageList = result.data;
                console.log(result);
            })
        }
    });
</script>

