@*<div class="txt-img01">
            <div class="txt-img02">
                <div class="txt-img03">
                    <div class="txt">
                        <div>技能交換、讀書會、家教</div>
                        <h1 class="txt-context">知識夥伴一起 啟動斜槓人生</h1>
                        <div class="txt-p2">托特是一個匯集了語言、資訊、音樂等各種知識的技能交換平台</div>
                        <a href="" class="txt-contexts">尋找學習夥伴</a>
                    </div>

                    <div class="img">
                        <img src="https://fakeimg.pl/800x617/" class="pic" alt="800*617">
                    </div>
                </div>
            </div>
        </div>

        <div class="containerplus">
            <div class="card">
                <div class="imgBx">
                    <img src="https://fakeimg.pl/600x600/">
                </div>
                <div class="content">
                    <h2 class="cardh2" ">Card One</h2>
                    <p class="cardp">
                        使用托特是因為朋友推薦，上面有很多交換技能，像是寫程式、英日語教學等等。
                        抱著試試看的心態下載，發現平台簡單易操作、也從沒有當機問題，上面尋求技能交換的人都很認真
                        ，比起FB社團常常碰到亂傳騷擾訊息的人，我在thoth上從來沒遇過。
                        使用3-4個月，我成功透過touth交換出履歷修改，並學到一直很想嘗試的塔羅牌。
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="https://fakeimg.pl/600x600/">
                </div>
                <div class="content">
                    <h2>Card Two</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Sapiente recusandae, voluptatibus magnam reprehenderit a numquam.
                        Temporibus esse sit provident quaerat quae.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="https://fakeimg.pl/600x600/">
                </div>
                <div class="content">
                    <h2>Card Three</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Sapiente recusandae, voluptatibus magnam reprehenderit a numquam.
                        Temporibus esse sit provident quaerat quae.
                    </p>
                </div>
            </div>
        </div>*@