
@{
    Layout = "_Layout";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="~/css/Yie/lecturedetail.css">



<div class="container mx-auto" id="app">
    <div v-for="item in lecturedetail">
        <div class="row mx-auto">
            <!--講座圖片-->
            <div class="col-1 position-relative ">
                <img class="flegsearch-img position-absolute " src="~/img/LecturePic/searchfleg2.png" alt="">
            </div>
            <div class="col-10 mt-3">
                <img :src="item.imgPath" class="img-fluid rounded mx-auto d-block imgpath" alt="">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="d-flex gap-2 align-items-center ">
                    <span class="material-icons-sharp h4">school</span>
                    <h3 class="fs-5" v-cloak>{{item.theme}}</h3>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row justify-content-around">
                <!--左側：活動內容-->
                <div class="col-12 col-md-7">
                    <div class="row ">
                        <div class="row border-left p-0 ">
                            <div class="">
                                <div class="d-flex gap-1 align-items-center">
                                    <span class="material-icons-sharp align-middle">location_on</span>
                                    <p class="m-0" v-cloak>活動地點：{{item.venue}}</p>
                                </div>
                                <div class="d-flex gap-1 m-0 align-items-center">
                                    <span class="material-icons-sharp align-middle">date_range</span>
                                    <p class="m-0" v-cloak>活動時間：{{item.eventDate}} {{item.eventTimeStart}}-{{item.eventTimeEnd}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="">
                                <h3 class="fs-5">活動規劃</h3>
                            </div>
                        </div>
                        <div class="row border-left p-0">
                            <div class="">
                                <P class="m-0 " v-cloak>
                                    {{item.description}}
                                </P>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="">
                                <h3 class="fs-5">活動講師</h3>
                            </div>
                        </div>
                        <div class="row border-left p-0 ">
                            <div class="">
                                <div class="d-flex gap-3 m-0 ">
                                    <img :src="item.speakerImgPath" alt=""
                                         class="speaker-img rounded-circle" />
                                    <P class="" v-cloak>
                                        {{item.speaker}}
                                    </P>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="">
                                <h3 class="fs-5">活動內容</h3>
                            </div>
                        </div>
                        <div class="row border-left p-0">
                            <div class="">
                                <P class="m-0" v-cloak>
                                    {{item.content}}
                                </P>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右側：價格&注意事項-->
                <div class="col-12 col-md-4 ">
                    <div class="d-flex flex-column ">
                        <span class="fs-2"><b v-cloak>NT${{item.price}}</b></span>
                        <div class="d-flex gap-1 mt-1 align-items-center">
                            <span class="material-icons-sharp align-middle">alarm</span>

                        <p class="m-0" v-cloak>剩餘{{dateDiff}}天截止</p>
                        </div>
                        <div class="d-flex gap-1 align-items-center">
                            <span class="material-icons-sharp align-middle">local_fire_department</span>
                            <p class="m-0" v-cloak>講座剩{{item.count}}位</p>
                        </div>

                        <div class="flex-row d-flex align-items-center gap-2 qty  mt-3">
                            <span class="fs-5 text-center">購買數量</span>
                            <span class="material-icons-sharp qtyminus rounded-circle p-1"
                                  v-on:click="changeIndex(-1)">remove</span>
                            <span class="number" v-cloak>{{amount}}</span>
                            <span class="material-icons-sharp qtyplus rounded-circle p-1 "
                                  v-on:click="changeIndex(+1)" v-if="item.count>=amount+1">add</span>
                        </div>

                        <div class="d-grid gap-2 mt-3">
                            <button class="btn buybtn" type="submit" v-bind:class="{'disabled':item.count<1}" v-on:click="send"><b>立即購買</b></button>
                            @*{{item.count-app.amount}}*@
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="">
                            <h3 class="fs-5">注意事項</h3>
                        </div>
                    </div>

                    <div class="row border-left">
                        <div class="">
                            <ul class="m-0 p-0 ms-3 mb-1 fs-6">
                                <li>付款方式僅採信用卡線上刷卡(VISA/MasterCard/JCB)，惟線上刷卡會需要些許時間進行作業，請勿關閉頁面或重新整理頁面，將導致入帳作業延遲或有誤。</li>
                                <li>主辦單位保留接受報名與否之權利，倘因故無法接受報名，將會無息退還全額活動費用。</li>
                                <li>主辦單位保留對活動內容調整的權力。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    
    
    let app = new Vue({
        el: '#app',
        data: {
            amount: 1,
            lecturedetail: [],
            lecture: {
                count: '',
                eventDate: '',

            },
            amountShow:false
        },
        mounted: function () {
            let lectureURL = window.location.search;
            let targetvalue = lectureURL.split("=");
            let self = this;
            axios.get("/Lecture/GetLectureDetails/" + targetvalue[1]).then(function (res) {
                self.lecturedetail = res.data;
            });

        },
        computed: {
            dateDiff: {
                get() {
                    let today = moment().format('L');
                    let aDate;
                    aDate = today.split("/");
                    oDate1 = new Date(aDate[0] + '/' + aDate[1] + '/' + aDate[2])
                    console.log(oDate1);
                    aDate = app.lecturedetail[0].eventDate.split("/");
                    oDate2 = new Date(aDate[1] + '/' + aDate[2] + '/' + aDate[0]);
                    console.log(oDate2);
                    iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 / 24); 
                    return iDays;
                },
            },
        },
        methods: {
            changeIndex(change) {

                this.amount += change;
                
                if (this.amount < 1) {
                    this.amount = 1;
                };
                               
            },

            send: function () {
                let lectureURL = window.location.search;
                let targetvalue = lectureURL.split("=");
                let lectureId = targetvalue[1];
           
                let form = document.createElement("form");
                form.method = "post";
                form.action = "/Bank/SpgatewayPayBill"

                let inp1 = document.createElement("input");
                inp1.type = "number";
                inp1.name = "Buyercount";
                inp1.value = parseInt(app.amount);
                form.appendChild(inp1);

                let inp2 = document.createElement("input");
                inp2.type = "number";
                inp2.name = "InputlectureId";
                inp2.value = lectureId;
                form.appendChild(inp2);

                document.body.appendChild(form);
                form.submit();

            }

        }

    })
</script>


