
@{
    Layout = "_Layout";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="~/css/Yie/lecturelist.css">

<style>
  
</style>


<div class="container" id="list">
    <!--<div class="row  mt-5 ">-->
    <!--排版-->
    <!--</div>-->
    <div class="row">
        <!--輪播圖-->
        <div class="col-1 position-relative ">
            <img class="flegsmile-img position-absolute  " src="~/img/LecturePic/flegsmile.png"
                 alt="">
        </div>
        <div class="col-10 mt-3">
            @*mt-5*@
            <div id="carouselExampleIndicators" class="carousel slide  " data-bs-ride="carousel">
                <div class="carousel-indicators">

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>

                </div>

                <div class="carousel-inner">
                    <div v-bind:class="{'active': activeIndex === index}" class="carousel-item " v-for="(item,index) in lecturelist.slice(0,3)">

                        <img :src="item.imgPath" class="d-block w-100 rounded imgPath ">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-1 position-relative ">
            <img class="mflrg-img position-absolute " src="~/img/LecturePic/mflrg.png" alt="">
        </div>
    </div>

  
        <!--講座呈列-->
        <div class="row mb-5 mx-auto">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-4 g-3 mt-3">
                <a class="lecture link-secondary" v-for="item in lecturelist" :href="'/home/lectureDetail?id='+ item.lectureId">
                    <div class="col h-100">
                        <div class="card lecture-border ">
                            <img :src="item.imgPath" class="card-img">
                            <div class="card-body ">
                                <div class="row">
                                    <h5 class="card-title">{{item.theme}}</h5>
                                    <div class="d-flex gap-1 align-items-center">
                                        <span class="material-icons-sharp align-middle">date_range</span>
                                        <span class="align-middles">{{item.eventDate}}  {{item.eventTimeStart}}-{{item.eventTimeEnd}}</span>
                                    </div>
                                    <p class="card-text mt-1 mb-0">{{item.description}}</p>
                                    <div class="container mt-2">
                                        <div class="float-end ">
                                            <span>NT${{item.price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
       <div class="row">
           <div class="col d-flex justify-content-center" >
               <div class="btn mb-5" v-if="isMoreShow" @@click="moreShow">顯示更多講座</div>
               <p v-show="isShow" class="fs-4 expect mb-5 "><img class="me-3" src="~/img/LecturePic/flegcheck.png"
     alt="">敬請期待新講座</p>
           </div>
       </div>

    </div>



    <script>

        let app = new Vue({
            el: '#list',
            data: {
                lecturelist: [],
                activeIndex: 0,
                isMoreShow:false,
                nowPage: 1,
                isShow:false,
            },
            mounted() {
                this.loadMore();
            },
            methods: {
                loadMore() {
                    let self = this;
                    //TODO講座顯示數量改變
                    axios.get("/Lecture/GetAllLecture").then(res => {
                        if (res.data.length <= 4) {
                            self.lecturelist = res.data;
                            self.isMoreShow = false
                        } else {
                            self.lecturelist = res.data.slice(0, 4);
                            self.isMoreShow = true;
                        } 
                    });
                },
                moreShow() {
                    let self = this;
                    axios.get("/Lecture/GetAllLecture").then(res => {
                        self.lecturelist = self.lecturelist.concat(res.data.slice(self.nowPage * 4, (self.nowPage + 1) * 4));
                        self.nowPage++;
                        if (res.data.length >= self.nowPage * 4) {
                            self.isMoreShow = true;
                        } else {
                            self.isMoreShow= false;
                            self.isShow = true;
                        }

                    });
                }

            },
       
        });


    </script>


