@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/ProductPage.css" />

<header>
    <a href="@Url.Action("HomePage","Home")">
        <img src="~/icon/Logo.png" alt="" class="logo">
    </a>
    <nav>
        <ul>
            <li>講座</li>
            <li>提醒</li>
            <li>
                @{
                    if (Context.User.Identity.IsAuthenticated) {
                        var imgPath = "." + Context.User.Claims.FirstOrDefault(c => c.Type == "Headshot").Value;

                    <li>
                        <a herf="#" class="headshot">
                            <img src="@imgPath" alt="">
                        </a>
                    </li>
                    } else {
                    <li><a href="@Url.Action("Create","Register")">登入</a></li>
                    }
                }
            </li>
        </ul>
    </nav>
</header>
<div class="box">
    <div class="leftbox">
        <div class="search">
            <!--搜尋-->

            <input type="search" placeholder="搜尋">
            <button type="submit" class="searchbtn"><img src="~/icon/search.png" alt=""></button>
        </div>
        <nav class="hashtag">
            <!--標籤篩選-->
            <div class="kind">
                <input type="checkbox" id="cbox1" value="運動" name="tag" class="tag">
                <label for="cbox1">運動</label>
            </div>
            <div class="kind">
                <input type="checkbox" id="cbox2" value="美術" name="tag" class="tag">
                <label for="cbox2">美術</label>
            </div>
            <div class="kind">
                <input type="checkbox" id="cbox3" value="語言" name="tag" class="tag">
                <label for="cbox3">語言</label>
            </div>
            <div class="kind">
                <input type="checkbox" id="cbox4" value="程式" name="tag" class="tag">
                <label for="cbox4">程式</label>
            </div>
            <div class="kind">
                <input type="checkbox" id="cbox5" value="音樂" name="tag" class="tag">
                <label for="cbox5">音樂</label>
            </div>
        </nav>
    </div>

    <div class="wrapper">
        <!--講座區域-->
        <ul class="tab">
            <li class="tab-item active">目前活動</li>
            <li class="tab-item">歷史活動</li>
        </ul>

        <div class="lecturelistarea">
            <div class="main active">
                <!--current-->
                <div class="lecturelist">
                    <!--講座-->
                    <div class="lecture-img">
                        <img src="https://picsum.photos/200/300?random=1" alt=""><!--橫的-->
                    </div>

                    <div class="lecture-content">
                        <span class="lecture-time">
                            <!--發文時間-->
                            發文時間:2022/03/07
                        </span>
                        <button class="lecture-location">
                            <!--地點-->
                            台北
                        </button>
                        <h3>資料庫新手入門</h3>
                        <div class="lecture-subcontent">
                            <!--副標題 資料表待建-->
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim officia accusantium corporis sit nihil modi tempore reiciendis voluptatem non assumenda eum dolor alias nisi, laboriosam aliquam commodi consectetur, fugiat facere! </p>
                        </div>

                        <a href="https://www.google.com"><button class="btn">詳細資訊 »</button></a>
                        <span class="lecture-d">
                            <img src="~/icon/calendar.png" alt="">
                            <span class="lecture-date">2022.3.22</span>
                            <img src="~/icon/vertical-line.png" alt="">
                            <!-- <div class="lecture-date">3/20~4~13</div> -->
                            <span class="lecture-price">$1000</span><!--價格-->
                            <span class="lecture-dollar">/元</span>
                        </span>
                    </div>
                </div>
                <div class="lecturelist">
                    <!--講座-->
                    <div class="lecture-img">
                        <img src="https://picsum.photos/200/300?random=2" alt=""><!--橫的-->
                    </div>

                    <div class="lecture-content">
                        <span class="lecture-time">
                            <!--發文時間-->
                            發文時間:2022/03/12
                        </span>
                        <button class="lecture-location">
                            <!--地點-->
                            台北
                        </button>
                        <h3>MVC從入門到實戰</h3>
                        <div class="lecture-subcontent">
                            <!--副標題 資料表待建-->
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat saepe a, dolore eos cupiditate quas porro voluptas maiores, optio voluptates nulla sequi eaque eius repellat accusamus cum quia consequuntur. </p>
                        </div>

                        <a href="https://www.google.com"><button class="btn">詳細資訊 »</button></a>
                        <span class="lecture-d">
                            <img src="~/icon/calendar.png" alt="">
                            <span class="lecture-date">2022.3.30</span>
                            <img src="~/icon/vertical-line.png" alt="">
                            <!-- <div class="lecture-date">3/20~4~13</div> -->
                            <span class="lecture-price">$1000</span>
                            <!--價格-->
                            <span class="lecture-dollar">/元</span>
                        </span>
                    </div>
                </div>
                <div class="lecturelist">
                    <!--講座-->
                    <div class="lecture-img">
                        <img src="https://picsum.photos/200/300?random=3" alt="">
                    </div>

                    <div class="lecture-content">
                        <span class="lecture-time">
                            <!--發文時間-->
                            發文時間:2022/03/21
                        </span>
                        <button class="lecture-location">
                            <!--地點-->
                            台北
                        </button>
                        <h3>JavaScript進階</h3>
                        <div class="lecture-subcontent">
                            <!--副標題 資料表待建-->
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, tenetur. Autem, voluptatibus. Vel earum, quibusdam neque fugit, molestias in tempora obcaecati deserunt, suscipit laborum provident quos doloribus. Quas, ex autem! </p>
                        </div>

                        <a href="https://www.google.com"><button class="btn">詳細資訊 »</button></a>
                        <span class="lecture-d">
                            <img src="~/icon/calendar.png" alt="">
                            <span class="lecture-date">2022.4.8</span>
                            <img src="~/icon/vertical-line.png" alt="">
                            <!-- <div class="lecture-date">3/20~4~13</div> -->
                            <span class="lecture-price">$1000</span><!--價格-->
                            <span class="lecture-dollar">/元</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="main">
                <!--past-->
                <div class="lecturelist">
                    <!--講座-->
                    <div class="lecture-img">
                        <img src="https://picsum.photos/200/300?random=4" alt=""><!--橫的-->
                    </div>

                    <div class="lecture-content">
                        <span class="lecture-time">
                            <!--發文時間-->
                            發文時間:2022/02/07
                        </span>
                        <button class="lecture-location">
                            <!--地點-->
                            台北
                        </button>
                        <h3>Html新手攻略</h3>
                        <div class="lecture-subcontent">
                            <!--副標題是否需要 資料表待建-->
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam molestiae sunt expedita qui, quaerat suscipit debitis animi, inventore maxime dignissimos perferendis labore aliquid iusto dolore commodi. Qui possimus blanditiis magnam. </p>
                        </div>

                        <a href="https://www.google.com"><button class="btn">詳細資訊 »</button></a>
                        <span class="lecture-d">
                            <img src="~/icon/calendar.png" alt="">
                            <span class="lecture-date">2022.2.30</span>
                            <img src="~/icon/vertical-line.png" alt="">
                            <!-- <div class="lecture-date">3/20~4~13</div> -->
                            <span class="lecture-price">$500</span>
                            <!--價格-->
                            <span class="lecture-dollar">/元</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let lis=document.querySelectorAll('.tab .tab-item');
    let divs=document.querySelectorAll('.lecturelistarea .main');
    for(let i =0;i<lis.length;i++){
        lis[i].addEventListener('click',function(){
           document.querySelector('.tab .active').classList.remove('active');
           this.classList.add('active');
           //點擊後一起更改
            document.querySelector('.lecturelistarea .active').classList.remove('active');
            divs[i].classList.add('active');
        })
    }


</script>