
@{
    Layout = "_Layout";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="~/css/Yie/quantity.css">

@*<style>
    .sorryfleg-img {
        z-index: 9900;
        max-width: 100%;
        top: -30%;
        right: 10%;
        width: 50%;
    }

    .sorryflegx-img {
        z-index: 9900;
        max-width: 100%;
        top: -30%;
        right: 40%;
        width: 50%;
    }
    .card-img {
        height: 10rem;
    }

    .lecture {
        text-decoration: none;
    }

    .card-img-top {
        max-width: 100%;
    }

    .card {
        height: 100%;
    }

    .lecture-border {
        border-bottom: solid 0.5rem #fcd9b3;
    }

    .imgPath {
        width: 60vw;
        height: 60vh;
    }
   
</style>*@

<div class="container mt-5" id="qty">
    <div class="row justify-content-center mb-3 ">

        <div class="col-2 position-relative ">
            <img src="~/img/LecturePic/sorryfleg.png" class=" position-absolute sorryfleg-img  " />
        </div>
        <div class="col-5 ">
            <div class="alert  alert-light " role="alert">
                <spn class="d-flex align-items-center text-center fs-5 ">
                    @ViewBag.message，請您再重新選購其他講座
                    <a href="/home/lectureList" class="link-danger"><span class="material-icons-sharp">storefront</span></a>
                </spn>
            </div>
        </div>
        <div class="col-2 position-relative">
            <img src="~/img/LecturePic/sorryflegx.png" class="position-absolute sorryflegx-img  " />
        </div>

    </div>

    <div class="row mt-5 lecture-border">
        <div class="col">
            <p class="fs-5">
            <img src="~/img/LecturePic/lovefleg2.png" class=""/><b>猜您可能感興趣的</b></p>
        </div>
   
    </div>

    <div class="row mx-auto mb-5">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-4 g-3 mt-3">
            <a class="lecture link-secondary" v-for="item in lecturelist" :href="'/home/lectureDetail?id='+ item.lectureId">
                <div class="col h-100">
                    <div class="card lecture-border ">
                        <img :src="item.imgPath" class="card-img">
                        <div class="card-body ">
                            <div class="row">
                                <h5 class="card-title">{{item.theme}}</h5>
                                <div class="d-flex gap-1 align-items-center">
                                    <span class="material-icons-sharp align-middle">date_range</span>
                                    <span class="align-middles">{{item.eventDate}}  {{item.eventTimeStart}}-{{item.eventTimeEnd}}</span>
                                </div>
                                <p class="card-text mt-1 mb-0">{{item.description}}</p>
                                <div class="container mt-2">
                                    <div class="float-end ">
                                        <span>NT${{item.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script>

    let app = new Vue({
        el: '#qty',
        data: {
            lecturelist: [],
           
        },
        mounted: function () {
            let self = this;
            axios.get("/Error/GetAllLecture").then(function (res) {
                self.lecturelist = res.data;
            })
        },
    });


</script>


