.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    height: 40px;
}

.headshot {
    height: 40px;
    border-radius: 100%;
}

.head-area {
    padding: 0;
}

.bg-brown {
    background-color: rgb(251, 198, 152)
}

.dropdown-toggle::after {
    display: none;
}
