body {
    background-color: rgb(232, 243, 252);
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    height: 40px;
}

.headshot {
    height: 40px;
    border-radius: 100%;
}

.head-area {
    padding: 0;
}

.bg-brown {
    background-color: rgb(251, 198, 152)
}

.dropdown-toggle::after {
    display: none;
}

.container {
    padding: 1rem;
}

.member-header-text {
    border-bottom: 2px solid black;
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.member-nav-list {
    padding: 1rem .7rem;
    box-shadow: 0 0 .5rem .5rem rgb(221, 235, 247);
}

/***** 共同版面 *******/
.member-div {
    height: 100%;
}

.member-nav-list {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

    .member-nav-list .row {
        padding: 1rem 0;
    }

        .member-nav-list .row:hover {
            background-color: cadetblue;
            color: aliceblue;
            transition: all .2s;
        }

.container .row a {
    color: black;
    text-decoration: none;
}

.form-check {
    text-align: center;
}

    .form-check input {
        display: none;
    }

.isCheck {
    background-color: cadetblue;
    color: white;
}
