@model TreeFriend.Models.Entity.User

@{ ViewData["Title"] = "Create";
    Layout = null; }


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="/css/KaiSu/Register.css" rel="stylesheet" />


<body class="active">
    <div class="container">
        <div class="Brownbg">
            <div class="box signin">
                <h2>已是會員</h2>
                <button class="signinBtn">登入</button>
            </div>
            <div class="box signup">
                <h2>註冊會員</h2>

                <button class="signupBtn" id="signupBtn">註冊</button>
            </div>
        </div>
        <div class="formBx">
            <div class="form signinForm">
                <div class="signinForm2">
                    <h3 class="loginwords">登入</h3>
                    <br>
                    <div>
                        <input class="inputlogin" type="text" placeholder="帳號" name="Email" id="loginEmail" />
                    </div>
                    <br>
                    <div>
                        <input class="inputlogin" type="password" placeholder="密碼" name="Password" id="loginPassword" />
                    </div>
                    <br>
                    <input class="inputloginbtn" type="submit" value="登入" id="signinBtn" />
                    <br>
                    <br>
                    <a href="/SendMail/ForgetEmail" class="forget">忘記密碼</a>
                    <br>
                </div>
                @*第三方登入*@
                <div class="img_btn">
                    <a href="/register/fblogin" id=fblogin >
                        <img src="/img/fb48px.png" alt="" />
                    </a>
                    <a href="/register/googlelogin" id="googlelogin">
                        <img src="/img/google48px.png" alt="" />
                    </a>
                    <div id="status"></div>



                </div>
            </div>


            <div class="form signupForm">
                <div class="inputregister">
                    @*<form asp-action="Create">*@
                    <div asp-validation-summary="ModelOnly"></div>
                    <h3 class="loginwords">註冊</h3>
                    <br>
                    <div>
                        <input class="inputlogin" asp-for="Email" placeholder="輸入Email" id="registerEmail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label id="lb" class="alerttext "></label>
                        <label id="lbOK" class="alerttextOK"></label>
                    </div>
                    <div>
                        <input class="inputlogin " asp-for="Password" placeholder="輸入密碼" type="password" id="registerPassword" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label id="Psrequired" class="alerttext"></label>
                        <label></label>
                    </div>
                    <div>
                        <input class="inputlogin height" type="password" placeholder="確認密碼" required id="confirmPassword" />
                        <label id="Pssame" class="alerttext"></label>
                        <label></label>
                    </div>

                    <div>
                        <input class="inputloginbtn" type="submit" value="註冊" id="registerbtn" />
                    </div>
                    <br>
                   
                </div>
            </div>

        </div>
    </div>

    <script>
        var signinBtn = document.querySelector(".signinBtn");
        const signupBtn = document.querySelector(".signupBtn");
        const formBx = document.querySelector(".formBx");
        const body = document.querySelector("body");

        signupBtn.onclick = function () {
            formBx.classList.add("active");
            body.classList.add("active");
        };

        signinBtn.onclick = function () {
            formBx.classList.remove("active");
            body.classList.remove("active");
        };
    </script>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<!--一般登入-->
<script>
    var loginbtn = document.getElementById("signinBtn");
    loginbtn.addEventListener("click", function () {
        let Email = document.getElementById("loginEmail").value;
        let Password = document.getElementById("loginPassword").value;
        var data = {};
        data.Password = Password;
        data.Email = Email;

        $.ajax(
            {
                url: '/register/login',
                /*dataType: 'JSON',*/
                contentType: "application/json",
                type: 'POST',
                data:
                    JSON.stringify(data),
                error: function (xhr) {
                    alert('Ajax request 發生錯誤');
                },
                success: function (res) {
                    //console.log(res);
                    if (res == "帳號或密碼錯誤") {
                        SWerror("帳號或密碼錯誤!", "", "再想想看");
                    } else if (res == "請至信箱開通帳號") {
                        SWwarning("請至信箱開通帳號", "", "馬上去開通");
                    } else {
                        SWseccess("歡迎回來!", "", "學習新技能吧!");
                    }
                }
            });


    });
</script>


<!--註冊-->
<script>
    var registerEmail1 = document.getElementById("registerEmail")
    var labelemailTY = document.querySelector("#lb");
    var labelemailOK = document.querySelector("#lbOK");

    registerEmail1.addEventListener("blur", function () {
        var regisEmailvalue = document.getElementById("registerEmail").value;
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        var data = {};
        data.Email = regisEmailvalue;

        $.ajax(
            {
                url: '/register/SameEmail',
                /*dataType: 'JSON',*/
                contentType: "application/json",
                type: 'POST',
                data:
                    JSON.stringify(data),
                error: function (xhr) {
                    alert('Ajax request 發生錯誤');
                },
                success: function (SameEmail) {
                    if (regisEmailvalue != "") {
                        labelemailTY.textContent = "";
                        labelemailOK.textContent = "";
                        if (!regex.test(regisEmailvalue)) {

                            labelemailTY.textContent = "email格式不正確";
                        }
                        else {
                            if (SameEmail == false) {

                                labelemailTY.textContent = "帳號已被使用,請重新輸入";
                            }
                            else {

                                labelemailOK.textContent = "帳號尚未被使用，可以註冊";
                            }
                        }
                    } else {
                        labelemailTY.textContent = "帳號為必填";
                    }
                }
            });

    });
    var Passwordinput = document.getElementById("confirmPassword");
    var lablePsame = document.querySelector("#Pssame");
    Passwordinput.addEventListener("blur", function () {
        let Passwordvalue = document.getElementById("confirmPassword").value;
        let Psrequiredvalue = document.getElementById("registerPassword").value;
        if (Passwordvalue == Psrequiredvalue) {
            lablePsame.textContent = "";
        } else { lablePsame.textContent = "密碼需一致"; }
    })
    var registerbtn = document.getElementById("registerbtn")
    registerbtn.addEventListener("click", function () {
        let registerEmail = document.getElementById("registerEmail").value;
        let registerPassword = document.getElementById("registerPassword").value;

        var data = {};
        data.Password = registerPassword;
        data.Email = registerEmail;

        var lablepwd = document.querySelector("#Psrequired");
        var Psrequired = document.getElementById("registerPassword").value
        if (Psrequired == "") {
            lablepwd.textContent = "";
            lablepwd.textContent = "密碼為必填";
        } else { lablepwd.textContent = ""; }

        let confirmpassword = document.getElementById("confirmPassword").value;
        let registerpassword = document.getElementById("registerPassword").value;
        if (confirmpassword == registerpassword) {
            $.ajax(
                {
                    url: '/Register/Create',
                    /*dataType: 'JSON',*/
                    contentType: "application/json",
                    type: 'POST',
                    data:
                        JSON.stringify(data),
                    error: function (xhr) {
                        alert('Ajax request 發生錯誤');
                    },
                    success: function (res) {
                        if (res == "成功") {
                            alert("帳號重複");
                        } else if (res == "資料有誤") {
                            alert("資料有誤");
                        } else {
                            SWinfo("註冊成功!", "請至email開通帳號~開通即可開始技能交換!", "馬上去開通");
                        }
                    }
                });
        }
        else {
            alert("資料有誤");
        }
    });
</script>


<!--SweetAlert-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function SWerror(title, text, close) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'error',
            confirmButtonText: close
        });
    }

    function SWseccess(title, text, ok) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'success',
            confirmButtonText: ok
        }).then(function () {
            window.location.href = "/Home/HomePage";
        });
    }

    function SWwarning(title, text, ok) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'warning',
            confirmButtonText: ok
        }).then(function () {
            window.location.href = "/Register/Create";
        });
    }

    function SWinfo(title, text, ok) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'info',
            confirmButtonText: ok
        }).then(function () {
            window.location.href = "/Register/Create";
        });
    }
</script>