
@{
    Layout = "_Member";
}
@{
    ViewData["Title"] = "修改密碼";
}
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.js' integrity='sha512-ZD7CJYgtekQVIaDp8LVTYWPenxvyC1wpPwnXFm9N1YdyPmQnX/yMweUQVAPcrLte7Z4jSCp2MW+8KW6/zK7tYQ==' crossorigin='anonymous'></script>
<link href="/css/KaiSu/EditPassword.css" rel="stylesheet" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center d-flex flex-column align-items-center">
                <img class="profile-img" :src="userdetail.headshotPath" alt="Alternate Text" />
                <h4 class="fw-bold mt-3 justify-content-end">{{userdetail.userName}}</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex flex-row ">
            <div class="col-8 mx-auto"> 
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">帳號</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"v-model="userdetail.email" disabled>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">舊的密碼</span>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="oldPassword">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">新的密碼</span>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="newPassword">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">確認密碼</span>
                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="confirmpassword">
                </div>
                
                <div class="float-end">
                    <button type="button" class="btn btn-success " v-on:click="edit1">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            oldPassword: "",
            newPassword: "",
            confirmpassword: "",
            msg: "",
            userdetail:'',
        },
        methods: {
            edit1: function () {
                let self = this;
                if (self.newPassword == self.confirmpassword) {

                    console.log(self.oldPassword);
                    console.log(self.newPassword);
                    axios({
                        method: 'post',
                        url: '/register/PasswordChange',
                        data: {
                            OldPassword: self.oldPassword,
                            NewPassword: self.newPassword
                        },
                        headers: { 'Content-type': 'application/json' }
                    }).then(function (res) {
                        if (res.data == true) {
                            SWseccess("修改成功", "", "完成");
                        } else {
                            SWerror("密碼錯誤", "", "請重新修改");
                        }

                    })
                } else {
                    SWerror("密碼需一致", "", "請重新修改");
                }
            }
        },
        mounted: function(){
            var self = this;
            axios.get('/register/GetUserDetail').then(function (res) { self.userdetail = res.data; })
        }
    })

</script>
<script>
    function SWerror(title, text, close) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'error',
            confirmButtonText: close
        });
    }

    function SWseccess(title, text, ok) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'success',
            confirmButtonText: ok
        }).then(function () {
            window.location.href = "/home/memberinfo";
        });
    }
</script>
