
@{
    Layout = "_Member";
}
@{
    ViewData["Title"] = "修改密碼";
}
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.js' integrity='sha512-ZD7CJYgtekQVIaDp8LVTYWPenxvyC1wpPwnXFm9N1YdyPmQnX/yMweUQVAPcrLte7Z4jSCp2MW+8KW6/zK7tYQ==' crossorigin='anonymous'></script>
<link href="/css/KaiSu/EditPassword.css" rel="stylesheet" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img :src="userdetail.headshotPath" alt="Alternate Text" />
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-8 ">
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">帳號</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"v-model="userdetail.email" disabled>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">舊的密碼</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="oldPassword">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">新的密碼</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="newPassword">
                </div>
                <div class="input-group input-group-lg mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-lg">確認密碼</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="confirmpassword">
                </div>
                <label>{{this.msg}}</label>
                <button type="button" class="btn btn-success" v-on:click="edit1">修改</button>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            oldPassword: "",
            newPassword: "",
            confirmpassword: "",
            msg: "",
            userdetail:'',
        },
        methods: {
            edit1: function () {
                let self = this;
                if (self.newPassword == self.confirmpassword) {
                    //let data =
                    //let Bodyformdata = new FormData();
                    //Bodyformdata.append("OldPassword", this.oldPassword);
                    //Bodyformdata.append("NewPassword", this.newPassword);
                    //console.log(Bodyformdata);
                    console.log(self.oldPassword);
                    console.log(self.newPassword);
                    axios({
                        method: 'post',
                        url: '/register/PasswordChange',
                        data: {
                            "OldPassword": self.oldPassword,
                            "NewPassword": self.newPassword
                        },
                        headers: { 'Content-type': 'application/json' }
                    }).then(function (res) {
                        if (res.data == "成功") {
                            SWseccess("修改成功", "", ""), function () { window.location.href = "/home/memberinfo" };
                        } else {
                            SWerror("密碼錯誤", "", "");
                        }

                    })
                } else {
                    self.msg = "密碼需一致";
                }
            }
        },
        mounted: function(){
            var self = this;
            axios.get('/register/GetUserDetail').then(function (res) { self.userdetail = res.data; })
        }
    })

</script>
<script>
    function SWerror(title, text, close) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'error',
            confirmButtonText: close
        });
    }

    function SWseccess(title, text, ok) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'success',
            confirmButtonText: ok
        });
    }
</script>
