/* 內容模組樣式 */
.item {
    width: 40%;
    height: 100%;
    background-color: rgb(226, 233, 233);
    border-radius: 0.3em;
    /* box-shadow: 0 0 0.3em 0.3em rgb(245, 245, 245); */
}

    .item + .item {
        margin-left: 5%;
    }

    .item #error-msg {
        font-size: 16px;
        color: red;
    }

.item-head {
    font-size: 1.5em;
    height: 15%;
    padding: 0.2em;
    display: flex;
    align-items: center;
}

    .item-head * + * {
        margin-left: 0.5em;
    }

/* 資料表樣式 */
table {
    width: 100%;
    text-align: left;
}

.item .tb-head {
    display: flex;
    align-items: center;
    padding-left: 0.3em;
    height: 10%;
    font-size: 1.3em;
}

table thead {
    background-color: rgb(155, 189, 252);
}

table th {
    padding: 0.5em;
}

table td {
    padding: 0.3em 0.5em;
}

table tbody tr:hover {
    background-color: aliceblue;
    transition: all 0.2s;
}

.tb-id,
.tb-user {
    width: 20%;
}

.tb-name {
    width: 40%;
}
