/* 內容樣式 */
.content {
    background-color: aliceblue;
    border-radius: 2rem 0 0 2rem;
    padding: 2rem 0;
    box-shadow: 0 0 5px 5px rgb(92, 153, 155);
}

.today-info {
    background-color: white;
    padding: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0 5px 5px rgb(232, 241, 248);
}

.info-item + .info-item {
    border-left: 1px solid #CCC;
}

.today-info img {
    width: 60px;
    height: 60px;
}

.sub-title {
    color: gray;
}

.content {
    height: 100vh;
    overflow: auto;
}
