@{
    ViewData["Title"] = "EditPost";
    Layout = "_PersonalPost";

}

@{
}

@{
    ViewData["Title"] = "Post";
}
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.js' integrity='sha512-ZD7CJYgtekQVIaDp8LVTYWPenxvyC1wpPwnXFm9N1YdyPmQnX/yMweUQVAPcrLte7Z4jSCp2MW+8KW6/zK7tYQ==' crossorigin='anonymous'></script>
@*<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js' integrity='sha512-yNMXFsZbP+Hii2fM4n1EvhKbBCZ2NAfW1FvlN6yB1ZanH+1sEcNV2rPEg6qCMRT/4dY01ELCdD75WflfTHdKJg==' crossorigin='anonymous'></script>*@
@*<link href="/css//KaiSu/bootstrap.css" rel="stylesheet" />*@
<link href="/css/KaiSu/EditPost.css" rel="stylesheet" />

@*頭像/暱稱/自我介紹/*@

<div id="app" class="member-div">
    <div v-for="user in userList">
        <div class="addpostbtn">
            <button class="addPost" onclick="location.href='/personalpost/postbackstage'">新增動態貼文</button>
        </div>
        <div class="text-center mt-2">
            <a :href="'/personalpost/post?id='+ user.userId"><img :src="user.headshotPath" class="rounded-circle size" alt="Alternate Text" /></a>
</div>
        <div class="text-center username">{{user.userName}}</div>
        <div class="text-center contentaboutme">
            <p class="aboutme">{{user.selfIntrodution}}</p>
        </div>
    </div>
    @*個人動態*@
    <div class="row  row-cols-md-2  row-cols-lg-3 g-4 m-1">
        <div v-for="(item,num1) in MessageList">
            <div class="col">
                <div class="card h-100 cardw ">


                    @*圖片*@
                    <div class="carousel-inner" @*:data-bs-target="'#exampleModal'+num1"*@ data-bs-toggle="modal" type="button" :data-bs-target="'#staticBackdrop'+num1" href="#staticBackdrop">
                        <div class="carousel-item showwords" v-for="(img,num) in item.postPhotoPath" v-bind:class="{'active': activeIndex === num}">
                            <img class="d-block w-100 cardimagesize" alt="" v-bind:src="'/PostPicture/'+img">
                            <button>
                                編輯貼文
                            </button>
                        </div>
                    </div>


                    <div class="card-body imgsicon">
                        @*內文 字太多要隱藏*@

                        @*icon*@
                        <div class="imgs">
                            <div v-if="!item.state">
                                <img class="iconheart" :id="item.personalPostId" src="/img/Blackheart.png" alt="Alternate Text" v-on:click="toggle(item.personalPostId,num1)" />
                            </div>
                            <div v-else>
                                <img class="iconheart" :id="item.personalPostId" src="/img/Redheart.png" alt="Alternate Text" v-on:click="toggle(item.personalPostId,num1)" />
                            </div>
                            <img class="iconmessage" src="/img/message.png" alt="Alternate Text" />
                        </div>
                        <p class="card-text ellipsis1 " >
                            {{item.content}}
                        </p>
                    </div>
                                @*確定刪除 彈出視窗*@
                                <!-- 確定刪除的Modal -->
                                <div class="modal fade" :id="'mmm'+num1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                @*<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>*@
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                確定刪除?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">否</button>
                                                <button type="button" class="btn " style="background-color: #BDA684; color:white" v-on:click="deletepost($event)" v-bind:value="item.personalPostId">是</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    <div class="">
                        @*card-footer*@
                        <!-- 貼文的Modal彈出視窗 -->
                        <div class="modal fade" :id="'staticBackdrop'+num1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:linen;">
                                        @*<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>*@
                                        <button type="button" class="btn btn-danger me-1" @*data-bs-target="#exampleModal"*@ data-bs-toggle="modal" :href="'#mmm'+num1">刪除</button>
                                        <button type="button" class="btn " style="background-color: #BDA684; color: #fff" v-on:click="edit($event,num1)" v-bind:value="item.personalPostId">儲存</button>
                                        <label id="saveOk"></label>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="reload"></button>
                                    </div>

                                    <div class="modal-body" style="background-color:linen;">
                                        @*內容*@
                                        @*圖片*@
                                        <div class="text-center" v-for="(img,num) in item.postPhotoPath" v-bind:class="{'active': activeIndex === num}" v-if="num<1">
                                            <img v-bind:src="'/PostPicture/'+img" class="card-img-top imgsize " alt="...">
                                        </div>
                                        <div class="card-body imgsicon">
                                            <p class="card-text">
                                                <textarea id="content" class="msgEdit" v-model="item.content" @@blur="textnull(num1)" v-bind:placeholder="textnonull">
                                                </textarea>
                                            </p>

                                        </div>
                                        <div class="msgbox" v-for="msg in item.message">
                                            @*彈出視窗-使用者留言*@
                                            <span>
                                                <img :src="msg.headshotPath" class="rounded-circle msgsize" alt="Alternate Text" />
                                            </span>
                                            <span class="msgcontent">
                                                {{msg.userMessage}}
                                            </span>
                                        </div>
                                        <div class="msgbox" v-for="(msg1,index2) in usercontent" :id="'msgren'+num1">
                                <span>
                                    <img  :src="msg1.headshotPath"  class="rounded-circle msgsize" alt="Alternate Text" />
                                </span>
                                <span class="msgcontent">
                                    {{msg1.userMessage}}
                                </span>
                            </div>

                                        <div class=" mes">
                                            @*留言*@
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="留言" aria-label="Recipient's username" aria-describedby="button-addon2" v-model="post.message">
                                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" v-on:click="sendMessage($event,num1)" v-bind:value="item.personalPostId">送出</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*留言*@
                        @*<div class="msgboxout" v-for="(msg,index1) in item.message" v-if="index1 < 1">
                <span>
                    <img src="https://i.pravatar.cc/50/random" class="rounded-circle msgsize" alt="Alternate Text" />
                </span>
                <span class="msgcontent">
                    {{msg.userMessage}}
                    <small class="text-muted updatetime">3 mins ago{{msg.createDate}}</small>
                </span>
            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    //class content {
    //    content = "";
    //}


    var app = new Vue({
        el: '#app',
        data: {

            isShow: true,

            activeIndex: 0,

            MessageList: [],
            userList:[],

            post: {
                personalpostid: "",
                content: "",
                postphotopath: "",
                message: ""
            },

            textnonull: "",

            /*msginside:[] */
            content: [],
            usercontent: []

        },
        methods: {
            textnull: function (index) {
                if (this.MessageList[index].content == "") {
                    this.textnonull = "請輸入文章內容";
                }
            },
            toggle: function (id, index) {
                console.log(id);
                this.MessageList[index].state = !this.MessageList[index].state
                id.state = true;
                this.isShow = !this.isShow;
            },
            edit: function ( event,index) { //編輯貼文內容
                let personalpostid = event.target.value;
                let self = this;
                let content = self.MessageList[index].content;
                let formdata = new FormData();
                formdata.append('PersonalPostId', personalpostid)
                formdata.append("Content", content);
                if (self.MessageList[index].content != "") {
                    axios({
                        method: 'post',
                        url: '/personalpost/editpost',
                        data: formdata,
                        Headers: { "Content-Type": "multipart/form-data" },
                    })
                        .then(function (res) {

                            if (res.data == true) {
                                alert("儲存成功");
                                window.location.reload();
                            } else {
                                alert('修改失敗');
                            }

                        })
                        .catch(function (res) {
                            console.log(res);
                        })
                }
                else {
                    alert("請輸入文章內容");
                }
            },
            deletepost: function (event) { //刪除貼文
                let self = this;
                let personalpostid = event.target.value;
                let Bodyformdata = new FormData();
                Bodyformdata.append('postId', personalpostid)

                //console.log(personalpostid);

                //axios.delete(`/personalpost/deletepost/?personalpostId = ${self.target.personalpostId}`)

                axios({
                    method: 'post',
                    url: '/personalpost/deletepost',
                    data: Bodyformdata,
                    Headers: { 'Content-type': 'multipart/form-data' }
                })
                    .then(function (res) {
                        if (res.data == true) {
                            alert('刪除成功');
                            window.location.reload();
                        } else {
                            alert('刪除失敗');
                        }
                    }
                    ).catch(function (res) {
                        console.log(res);
                    })
            },
            sendMessage: function (event, num) {
                let personalpostid = event.target.value;
                console.log(personalpostid);

                let Bodyformdata = new FormData();
                Bodyformdata.append('Message', this.post.message)
                Bodyformdata.append('PersonalPostID', personalpostid)
                let self = this;


                axios({
                    method: 'post',
                    url: '/personalpost/createmessage',
                    data: Bodyformdata,
                    Headers: { 'Content-type': 'multipart/form-data' }
                })
                    .then(function (res) {
                        if (res.data != "") {
                            //console.log(res.data);
                            //self.content = res.data;
                            //console.log(self.content);
                            let Bodyformdata = new FormData();
                            let personalpostid = event.target.value;
                            console.log(personalpostid);
                            Bodyformdata.append('Message', self.post.message)
                            Bodyformdata.append('PersonalPostID', personalpostid)

                            axios({
                                method: 'post',
                                url: '/personalpost/PCreateMessage',
                                data: Bodyformdata,
                                Headers: { 'Content-type': 'multipart/form-data' }
                            }).then(function (res) {
                                if (res.data != "") {
                                    console.log(res.data);
                                    self.content = res.data;
                                    console.log(self.content);
                                    //console.log("#msgren" + self.num);
                                    self.usercontent.push(self.content);
                                    self.post.message = "";
                                    //self.MessageList.message.push(self.usercontent)
                                    //alert('渲染成功')
                                } else { alert('渲染失敗') }
                            })
                            //("'#msgren'+num1").

                            //window.location.replace(location.href);
                            alert('留言成功');
                        }
                        else {
                            alert('留言失敗');
                        }
                    })

            },
            reload: function () {
                window.location.reload();
            }
        },


        mounted: function () {
            var self = this;
            axios.get("/PersonalPost/GetUserContent").then(function (result) {
                console.log(result.data)
                self.MessageList = result.data;
                console.log(result.data);
            }),
                axios.get("/PersonalPost/GetUserEdit").then(function (result) {
                    console.log(result.data)
                    self.userList = result.data;
                    console.log(result.data);
                })

                ////最新文章 迴圈跑出渲染的東西
                //for (let i = 0; i < result.data.length; i++) {
                //    console.log(result.data[i]);
                //    var contentobject = new content;
                //    contentobject.content = result.data[i].content;
                //    app.Content.push(contentobject);
                //}
                //console.log(app.Content);
            

        }
    });

</script>
